<h1>attributes</h1>

<section class="pane left">
	<table style="width: 100%;">
		<thead>
		<tr>
			<th>attribute</th>
			<th>description</th>
			<th>usage</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td><code prism class="language-markup">close-others</code></td>
			<td>to open one <code prism class="language-markup">&lt;toggle></code> at a time</td>
			<td><code prism class="language-markup">&lt;accordian close-others="true"></code></td>
		</tr>
		<tr>
			<td><code prism class="language-markup">content</code></td>
			<td>display defined markup strings</td>
			<td>
				<code prism class="language-markup">&lt;toggle content="value"></code>
				<hr class="separator"/>
				<code prism class="language-javascript">$scope.value = '&lt;p>&lt;span>ayy!&lt;/span>&lt;/p>'</code>
			</td>
		</tr>
		<tr>
			<td><code prism class="language-markup">content-url</code></td>
			<td>a</td>
			<td>a</td>
		</tr>

		<tr>
			<td><code prism class="language-markup">model-name</code></td>
			<td>a</td>
			<td>a</td>
		</tr>

		<tr>
			<td><code prism class="language-markup">ng-model</code></td>
			<td>a</td>
			<td>a</td>
		</tr>

		<tr>
			<td><code prism class="language-markup">timing</code></td>
			<td>a</td>
			<td>a</td>
		</tr>

		<tr>
			<td><code prism class="language-markup">toggle-icon</code></td>
			<td>a</td>
			<td>a</td>
		</tr>
		</tbody>
	</table>
</section>