<h1>events</h1>

<section class="pane left events">
	<accordian close-others="true"
	           handle="accordian"
	           timing="0.2s"
	           toggle-icon="chevron">
		<toggle ng-repeat="c in content" content="c.value"></toggle>
	</accordian>
	<br/>
	<accordian close-others="false"
	           handle="accordian2"
	           timing="0.2s"
	           toggle-icon="chevron">
		<toggle ng-repeat="c in content2" content="c.value"></toggle>
	</accordian>

	<br/>

	<toggle
		handle="toggle"
		toggle-icon="plus"
		content-url="'template/accordian/standalone/toggle-content.html'"
		timing="0.2s"></toggle>
</section>

<section class="pane right">
	<button ng-click="accordian.expand(1)">expand 1</button>
	<button ng-click="accordian.expand(2)">expand 2</button>

	<button ng-click="accordian.collapse(1)">collapse 1</button>
	<button ng-click="accordian.collapse(2)">collapse 2</button>
	<hr/>

	<button ng-click="accordian2.expand()">expand 2</button>

	<button ng-click="accordian2.collapse()">collapse 2</button>

	<hr/>
	<button ng-click="toggle.expand()">expand toggle</button>

	<button ng-click="toggle.collapse()">collapse toggle</button>
</section>