<h1>getting started</h1>

<section class="pane left">
	<div>
		<pre><code prism class="language-shell">bower install ng-accordian</code></pre>
	</div>

	<ul>
		<li>
			Include the <code prism class="language-javascript">ngAccordian</code> module as a dependency in your AngularJS application
		</li>
	</ul>

	<div>
		<pre><code prism class="language-javascript">angular.module('app', ['ngAccordian'])</code></pre>
	</div>

	<ul>
		<li>
			Include the <code prism class="language-javascript">ng-accordian.css</code> style sheet
		</li>
	</ul>

	<div>
		<pre><code prism class="language-markup">&lt;link rel="stylesheet" href="/ng-accordian.css" /></code></pre>
	</div>

	<ul>
		<li>
			<i>badda bing, badda boom</i>
		</li>
	</ul>
</section>