<h1>methods</h1>

<section class="pane left events">
	<accordian close-others="true"
	           handle="accordian"
	           timing="0.2s"
	           toggle-icon="chevron">
		<toggle ng-repeat="c in content" content="c.value"></toggle>
	</accordian>
	<br/>
</section>

<section class="pane right">
	<button ng-click="accordian.expand(0)">expand 1</button>
	<button ng-click="accordian.expand(1)">expand 2</button>

	<button ng-click="accordian.collapse(0)">collapse 1</button>
	<button ng-click="accordian.collapse(1)">collapse 2</button>
	<hr/>

	<button ng-click="accordian.expand()">expand all</button>

	<button ng-click="accordian.collapse()">collapse all</button>
</section>