<h1>methods</h1>

<section class="pane left events">

	<p>adding <code prism class="language-markup">&lt;accordian handle="myAccordian">&lt;/accordian></code> will make your element publically accessable to invoke available methods as <code prism class="language-javascript">myAccordian</code></p>

	<div class="methods-example">
		<button ng-click="myAccordian.expand()">expand all</button>
		<button ng-click="myAccordian.collapse()">collapse all</button>
		<button ng-click="myAccordian.expand(1)">expand index 1</button>
		<button ng-click="myAccordian.collapse(1)">collapse index 1</button>
	</div>

	<accordian close-others="false"
			   handle="myAccordian"
			   timing="200"
			   toggle-icon="chevron">
		<toggle ng-repeat="c in content" content="c.value"></toggle>
	</accordian>
</section>

<section class="pane right">
	<tabs tabs="tabs" selected="0"></tabs>
</section>