/* -- ACCORDIAN OVERRIDES -- */

section.basic {
	toggle {
		margin-bottom: 4px;
	}
}

section.configuration, section.events {
	toggle {
		margin-bottom: 2px;
	}

	toggle .toggle-header {
		height: 36px;
		background-color: #7a7a7a;
	}

	toggle .toggle-body.border {
		border: solid 1px #7a7a7a;
	}

	toggle .toggle-header .icon.plus div {
		border-color: #414141;
	}
}

section.content-strings {
	toggle {
		margin-bottom: 2px;
	}

	toggle .toggle-header {
		height: 24px;
	}

	toggle .toggle-header:hover {
		background-color: $gray-lighter;
	}

	toggle .toggle-header:hover span {
		color: $black;
	}

	toggle .toggle-body.border {
		border: solid 1px $gray-darker;
	}

	toggle .toggle-header .icon.chevron div {
		border-color: $black;
	}

	toggle .toggle-header:hover .icon.chevron div {
		border-color: $blue;
	}
}

section.model-binding {
	toggle {
		margin-bottom: 4px;
	}

	toggle .toggle-header {
		height: 48px;
	}

	toggle .toggle-body.border {
		border: solid 1px $gray-darker;
	}

	toggle .toggle-header .icon {
		float: right;
	}
}

section.disabled {

	toggle {
		margin-bottom: 2px;
	}

	toggle .toggle-header {
		height: 36px;
		background-color: #7a7a7a;
	}

	toggle .toggle-body.border {
		border: solid 1px #7a7a7a;
	}
}
