body {
	font-family: 'Open Sans', sans-serif;
	overflow: hidden;
	min-width: 58.000em;
	overflow-x: auto;
}

header {
	width: 100%;
	border-bottom: solid 0.063em $gray-darker;
	box-sizing: border-box;
	padding: 0.500em 2.000em;
	height: 6.000em;

	h1 {
		display: inline;
		font-size: 42pt;
		letter-spacing: 2px;
	}

	a {
		text-decoration: none;
		color: inherit;

		&:nth-child(2) {
			font-size: 42pt;
			float: right;
			line-height: 135%;
			color: $link;
		}
	}
}

section.content {
	padding: 2.000em;
	overflow-y: auto;
	overflow: auto;
	position: absolute;
	top: 6.000em;
	left: 12.000em;
	right: 0;
	bottom: 0;
	border-left: solid 0.063em $gray-darker;
	min-width: 42.000em;

	h1 {
		margin-top: 0;
	}

	section.pane {
		width: 50%;
		box-sizing: border-box;
		padding-right: 2.000em;

		&.left {
			float: left;

			&.attributes {
				width: 75%;
				font-size: 10pt;
			}
		}

		&.right {
			float: right;
		}
	}
}

aside.spine {
	width: 12.000em;
	padding-top: 2.000em;

	a {
		text-decoration: none;
		color: $link;

		&:hover {
			text-decoration: underline;
		}
	}

	ol {
		list-style: none;
		padding-left: 0;
		margin: 0;

		li {
			padding-top: 0.125em;
			padding-bottom: 0.125em;

			span {
				display: block;
				padding-left: 2.000em;
			}

			&.static {
				color: $gray-darker;
			}

			&.root div {
				border-bottom: solid 0.063em $gray-darker;
			}

			&.sub {
				padding-left: 2.000em;

				div {
					border-bottom: solid 0.063em $gray-darker;
					border-left: solid 0.063em $gray-darker;
				}
			}

			div {
				float: left;
				height: 0.375em;
				width: 1.250em;
				margin-top: 0.375em;
				margin-right: 0.500em;
			}
		}
	}
}

toggle p {
	padding: 1.000em;
	font-size: 10pt;
	line-height: 200%;
}

pre {
	margin: 0 !important;
}

table {

	th {
		font-weight: bolder;
	}

	td, th {

		hr.separator {
			border: 0;
			border-bottom: dashed 1px $gray-darker;
			margin: 0.750em 0;
			
		}

		padding: 1.000em;
		border: solid 1px $gray-darker;
	}
}
