body {
	font-family: 'Open Sans', sans-serif;
	overflow: hidden;
	min-width: 58.000em;
	overflow-x: auto;
	background-color: $black;
}

header {
	width: 100%;
	border-bottom: solid 0.063em $black;
	box-sizing: border-box;
	padding: 0.500em 2.000em;
	height: 6.000em;
	background-color: white;

	h1 {
		display: inline;
		font-size: 42pt;
		letter-spacing: 2px;
		color: $black;
	}

	a {
		text-decoration: none;
		color: inherit;

		&:nth-child(2) {
			font-size: 42pt;
			float: right;
			line-height: 135%;
			color: $pink;
		}
	}
}

section.content {
	padding: 2.000em;
	overflow-y: auto;
	overflow: auto;
	position: absolute;
	top: 6.000em;
	left: 12.000em;
	right: 0;
	bottom: 0;
	min-width: 42.000em;
	background-color: white;

	h1 {
		margin-top: 0;
	}

	section.pane {
		width: 50%;
		box-sizing: border-box;
		padding-right: 2.000em;

		&.left {
			float: left;

			&.attributes {
				width: 75%;
				font-size: 10pt;
			}

			&.icons {
				width: 50%;
				font-size: 10pt;
			}
		}

		&.right {
			float: right;
		}
	}
}

aside.spine {
	width: 12.000em;
	padding-top: 2.000em;
	

	a {
		text-decoration: none;
		color: $blue;

		&:hover {
			text-decoration: underline;
		}
	}

	ol {
		list-style: none;
		padding-left: 0;
		margin: 0;

		li {
			padding-top: 0.125em;
			padding-bottom: 0.125em;

			span {
				display: block;
				padding-left: 2.000em;
			}

			&.static {
				color: $yellow;
			}

			&.root div {
				border-bottom: solid 0.063em $pink;
			}

			&.sub {
				padding-left: 2.000em;

				

				div {
					border-bottom: solid 0.063em $pink;
					border-left: solid 0.063em $pink;
				}
			}

			div {
				float: left;
				height: 0.375em;
				width: 1.250em;
				margin-top: 0.375em;
				margin-right: 0.500em;
			}
		}
	}
}

toggle p {
	padding: 1.000em;
	font-size: 10pt;
	line-height: 200%;
}

pre {
	margin: 0 !important;
}

table {

	th {
		font-weight: bolder;
	}

	td, th {

		hr.separator {
			border: 0;
			border-bottom: dashed 1px $gray-darker;
			margin: 0.750em 0;
		}

		padding: 1.500em;
		border: solid 1px $gray-darker;
	}

	&.attributes {
		tr {
			td:last-of-type {
				background-color: $gray-lighter;
			}
		}
	}

	&.icons {
		td {
			padding: 0.500em;
		}

		tr {
			td:first-of-type {
				background-color: $gray-lighter;
				padding-top: 1.500em;
			}
		}
	}
}

.icon-example {
	width: 3.000em;
	background-color: $gray-darker;
	height: 3.000em;
	font-size: 12pt;
	cursor: pointer;

	.chevron {
		position: relative;
		box-sizing: border-box;
		height: 3.000em;
		width: 3.000em;
		transform: rotate(0);
		transition: all .15s linear;

		&.open {
			transform: rotate(90deg);
		}

		> div {
			transform: rotate(-45deg);
			height: 1.500em;
			width: 1.500em;
			transition: all .15s linear;
			border-right: .25em solid white;
			border-bottom: .25em solid white;
			position: relative;
			box-sizing: border-box;
			top: 25%;
			left: 12.5%;
		}
	}

	.plus {
		height: 66.6667%;
		padding: 0.500em;
		height: 2.000em;
		width: 2.000em;
		background-color: $gray-darker;
		transform: rotate(0);
		transition: all .15s linear;
		border-radius: 50%;

		&.open {
			transform: rotate(90deg);
			transition: all .15s linear;

			div {
				&:nth-child(1) {
					border-bottom-width: 0;
				}

				&:nth-child(2) {
					border-bottom-width: 0;
				}

				&:nth-child(3) {
					border-top-width: 0;
				}

				&:nth-child(4) {
					border-top-width: 0;
				}
			}
		}

		div {
			width: 50%;
			height: 50%;
			float: left;
			box-sizing: border-box;

			&:nth-child(1) {
				border-bottom: solid 0.125em white;
				border-right: solid 0.125em white;
			}

			&:nth-child(2) {
				border-bottom: solid 0.125em white;
				border-left: solid 0.125em white;
			}

			&:nth-child(3) {
				border-top: solid 0.125em white;
				border-right: solid 0.125em white;
			}

			&:nth-child(4) {
				border-top: solid 0.125em white;
				border-left: solid 0.125em white;
			}
		}
	}
}

#console {
	width: 100%;
	height: 12em;
	border: solid 1px #CCC;
	margin-bottom: 2.000em;
	font-family: Consolas 'Courier New' monospace;
	
	background-color: #383838;
	color: white;
	box-sizing: border-box;
	padding: 0.5em;
	overflow-y: auto;

	.console-entry {
		display: block;
		padding: .25em 1em;
		font-size: 10pt;
	}

	#cursor {
	font-size: 12pt;
	}

	#carot {
	font-size: 12pt;
	color: #A6E22E;
	}
}
