tabs {

	.header {
		list-style: none;
		padding: 0;
		margin: 0;
		position: relative;
		top: 0.063em;
		margin-top: -0.063em;

		li {
			float: left;
			cursor: pointer;
			padding: 0.500em 1.000em;

			&.active {
				background-color: $gray-lighter;
				border-top: solid 0.063em $gray-darker;
				border-left: solid 0.063em $gray-darker;
				border-right: solid 0.063em $gray-darker;
				border-bottom: solid 0.063em transparent;
			}

			&:not(.active):hover {
				background-color: $gray-darker;
				border-bottom: solid 0.063em $gray-darker;
			}
		}
	}

	.body {
		clear: both;
		background-color: $gray-lighter;
		border: solid 0.063em $gray-darker;
	}
}
