$gray-lighter: #f5f2f0;
$gray: #CCC;
$gray-darker: #7a7a7a;
$white: #FFF;
$blue-accent: #4F5063;
$blue-accent-lighter: #8D8E9C;
$spine-entry: #E06767;
$link: #6777E0;


/* moonkai */
$pink: #F92672;
$blue: #66D9EF;
$green: #A6E22E;
$orange: #FD971F;
$purple: #AE81FF;
$turquoise: #A1EFE4;
$sand: #F8F8F2;
$yellow: #E6DB74;
$black: #3E3D32;