<h1>basic</h1>

<section class="pane left">

	<!--<accordian close-others="true"
	           timing="0.2"
	           toggle-icon="chevron">
		<toggle content-url="'template/accordian/basic/accordian-content.html'"></toggle>
		<toggle content-url="'template/accordian/basic/accordian-content.html'"></toggle>
		<toggle content-url="'template/accordian/basic/accordian-content.html'"></toggle>
	</accordian>-->

	<toggle toggle-icon="chevron" content-url="'template/accordian/basic/accordian-content.html'"></toggle>
</section>

<section class="pane right">
	<tabs tabs="tabs" selected="0"></tabs>
</section>