<h1>configuration</h1>

<section class="pane left">
	<!--<accordian close-others="true" timing="0.2s">
		<toggle ng-repeat="c in content" content-url="c.value"></toggle>
	</accordian>

	<hr />

	<accordian close-others="true"
			   toggle-icon="chevron">
		<toggle ng-repeat="c in content" content-url="c.value"></toggle>
	</accordian>-->

	<toggle content-url="'template/accordian/basic/accordian-content.html'" timing="0.2s"></toggle>
</section>

<section class="pane right">
	<tabs tabs="tabs" selected="0"></tabs>
</section>