<h1>disabled</h1>

<section class="pane left disabled">
	<accordian close-others="true"
			   timing="200"
			   toggle-icon="plus">
		<toggle content-url="'template/accordian/basic/accordian-content.html'"></toggle>
		<toggle content-url="'template/accordian/basic/accordian-content.html'"></toggle>
		<toggle class="disabled" content-url="'template/accordian/basic/accordian-content.html'"></toggle>
		<toggle content-url="'template/accordian/basic/accordian-content.html'"></toggle>
	</accordian>
</section>

<section class="pane right">
	<tabs tabs="tabs" selected="0"></tabs>
</section>