$icon-color: #FFF;
$toggle-header-color: #CCC;
$toggle-header-height: 3.000em;
$accordian-border-color: #CCC;

accordian {
	width: 100%;
}


toggle {
	margin-bottom: 0.250em;

	.toggle-body {
		border: solid 0.063em $accordian-border-color;
	}

	.toggle-header {
		height: $toggle-header-height;
		background-color: $toggle-header-color;
	}

	&.open {
		.toggle-header {
			background-color: dodgerblue;
		}
	}
}

.chevron {
	transform: rotate(0);
	/*transition: all 0.15s linear;*/
	position: relative;
	box-sizing: border-box;

	&.open {
		transform: rotate(90deg);
	}

	> div {
		border-right: 0.250em solid $icon-color;
		border-bottom: 0.25em solid $icon-color;
		transform: rotate(-45deg);
	}
}

.plus {
	transform: rotate(90deg);
	transition: transform 0.15s linear;

	&.open {
		transform: rotate(90deg);
		transition: transform 0.15s linear;
	}

	div {
		width: 50%;
		height: 50%;
		float: left;
		box-sizing: border-box;

		&:nth-child(1) {
			border-bottom: solid 0.125em $icon-color;
			border-right: solid 0.125em $icon-color;

			.open & {
				transition: border 0.15s;
				border-bottom-width: 0;
			}
		}

		&:nth-child(2) {
			border-bottom: solid 0.125em $icon-color;
			border-left: solid 0.125em $icon-color;

			.open & {
				transition: border 0.15s;
				border-bottom-width: 0;
			}
		}

		&:nth-child(3) {
			border-top: solid 0.125em $icon-color;
			border-right: solid 0.125em $icon-color;

			.open & {
				transition: border 0.15s;
				border-top-width: 0;
			}
		}

		&:nth-child(4) {
			border-top: solid 0.125em $icon-color;
			border-left: solid 0.125em $icon-color;

			.open & {
				transition: border 0.15s;
				border-top-width: 0;
			}
		}
	}
}
