<h1>disabled</h1>
<section class="pane left disabled">
    <ul>
        <li>
            <span>simply specify <code prism class="language-javascript">class="disabled"</code>. This style can be overridden for visual efect. Alternatively, leverage <code prism class="language-shell">ng-class</code> for model binding.</span>
        </li>
    </ul>
    <accordion close-others="true"
               timing="200"
               toggle-icon="plus">
        <toggle content-url="'demo-site/template/accordion/basic/accordion-content.html'"></toggle>
        <toggle content-url="'demo-site/template/accordion/basic/accordion-content.html'"></toggle>
        <toggle class="disabled" content-url="'demo-site/template/accordion/basic/accordion-content.html'"></toggle>
        <toggle content-url="'demo-site/template/accordion/basic/accordion-content.html'"></toggle>
    </accordion>
</section>
<section class="pane right">
    <tabs tabs="tabs" selected="0"></tabs>
</section>