<h1>getting started</h1>
<section class="pane left">
    <div>
        <pre><code prism class="language-shell">bower install ng-accordion</code></pre>
    </div>
    <ul>
        <li>
            Include the <code prism class="language-javascript">ngAccordion</code> module as a dependency in your AngularJS application
        </li>
    </ul>
    <div>
        <pre><code prism class="language-javascript">angular.module('app', ['ngAccordion'])</code></pre>
    </div>
    <ul>
        <li>
            Include the <code prism class="language-javascript">ng-accordion.css</code> style sheet
        </li>
    </ul>
    <div>
        <pre><code prism class="language-markup">&lt;link rel="stylesheet" href="/ng-accordion.css" /></code></pre>
    </div>
    <ul>
        <li>
            <span>override styles to your heart's content</span>
        </li>
    </ul>
</section>