<h1>icons</h1>
<section class="pane left icons">
    <table class="icons">
        <tbody>
            <tr>
                <td><code prism class="language-markup">&lt;accordion toggle-icon="chevron"></code></td>
                <td>
                    <div class="icon-example">
                        <div class="chevron" ng-init="chevrontoggle = false" ng-click="chevrontoggle = chevrontoggle ? false : true" ng-class="{'open': chevrontoggle}">
                            <div></div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td><code prism class="language-markup">&lt;accordion toggle-icon="plus"></code></td>
                <td>
                    <div class="icon-example">
                        <div class="plus" ng-init="plustoggle = false" ng-click="plustoggle = plustoggle ? false : true" ng-class="{'open': plustoggle}">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</section>