<h1>methods</h1>
<section class="pane left events">
    <p>adding <code prism class="language-markup">&lt;accordion handle="myaccordion">&lt;/accordion></code> will make your element publically accessable to invoke available methods as <code prism class="language-javascript">myaccordion</code></p>
    <div class="methods-example">
        <button ng-click="myaccordion.expand()">expand all</button>
        <button ng-click="myaccordion.collapse()">collapse all</button>
        <button ng-click="myaccordion.expand(1)">expand index 1</button>
        <button ng-click="myaccordion.collapse(1)">collapse index 1</button>
        <button ng-click="myaccordion.disable()">disable all</button>
        <button ng-click="myaccordion.enable()">enable all</button>
        <button ng-click="myaccordion.disable(1)">disable 1</button>
        <button ng-click="myaccordion.enable(1)">enable 1</button>
    </div>
    <accordion close-others="false"
               handle="myaccordion"
               timing="200"
               toggle-icon="chevron">
        <toggle ng-repeat="c in content" content="c.value"></toggle>
    </accordion>
</section>
<section class="pane right">
    <tabs tabs="tabs" selected="0"></tabs>
</section>