<div>
<pre><code prism class="language-markup">&lt;accordian
	timing="200"
	close-others="true"
	toggle-icon="chevron">
	&lt;toggle content-url="'template/accordian/basic/accordian-content.html'">&lt;/toggle>
	&lt;toggle content-url="'template/accordian/basic/accordian-content.html'">&lt;/toggle>
	&lt;toggle class="disabled" content-url="'template/accordian/basic/accordian-content.html'">&lt;/toggle>
	&lt;toggle content-url="'template/accordian/basic/accordian-content.html'">&lt;/toggle>
&lt;/accordian>
</code></pre>
</div>