<div>
<pre><code prism class="language-markup">&lt;accordion
	timing="200"
	handle="myaccordion"
	close-others="false"
	toggle-icon="chevron">
	&lt;toggle ng-repeat="c in content" content="c.value">&lt;/toggle>
&lt;/accordion>

&lt;button ng-click="myaccordion.expand()">expand all&lt;/button>
&lt;button ng-click="myaccordion.collapse()">collapse all&lt;/button>
&lt;button ng-click="myaccordion.expand(1)">expand index 1&lt;/button>
&lt;button ng-click="myaccordion.collapse(1)">collapse index 1&lt;/button>
&lt;button ng-click="myaccordion.disable()">disable all&lt;/button>
&lt;button ng-click="myaccordion.enable()">enable all&lt;/button>
&lt;button ng-click="myaccordion.disable(1)">disable 1&lt;/button>	
&lt;button ng-click="myaccordion.enable(1)">enable 1&lt;/button>
</code></pre>
</div>