html, body, div, form, fieldset, legend, label {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

th, td {
  text-align: left;
  vertical-align: top; }

h1, h2, h3, h4, h5, h6, th, td, caption {
  font-weight: normal; }

img {
  border: 0; }

body {
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
  min-width: 58.000em;
  overflow-x: auto;
  background-color: #f5f2f0; }

header {
  width: 100%;
  box-sizing: border-box;
  padding: 0.5em 2em;
  height: 4.000em;
  background-color: white;
  overflow: hidden;
  background-color: #4F5063; }
  header h1 {
    display: inline;
    font-size: 20pt;
    letter-spacing: 2px;
    color: white;
    line-height: 180%; }
  header a {
    text-decoration: none;
    color: inherit; }
    header a:nth-child(2) {
      float: right;
      position: relative;
      top: 28px;
      transition: .10s ease-in; }
      header a:nth-child(2) img {
        width: 8em; }
      header a:nth-child(2):hover {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px); }

section.content {
  padding: 2.000em;
  overflow-y: auto;
  overflow: auto;
  position: absolute;
  top: 4.000em;
  left: 12.000em;
  right: 0;
  bottom: 0;
  min-width: 42.000em;
  background-color: white; }
  section.content h1 {
    margin-top: 0; }
  section.content section.pane {
    width: 50%;
    box-sizing: border-box;
    padding-right: 2.000em; }
    section.content section.pane.left {
      float: left; }
      section.content section.pane.left.attributes {
        width: 75%;
        font-size: 10pt; }
      section.content section.pane.left.icons {
        width: 50%;
        font-size: 10pt; }
    section.content section.pane.right {
      float: right; }

table th {
  font-weight: bolder; }

table td, table th {
  padding: 1.500em;
  border: solid 1px #CCC; }
  table td hr.separator, table th hr.separator {
    border: 0;
    border-bottom: dashed 1px #CCC;
    margin: 0.750em 0; }

table.attributes tr td:last-of-type {
  background-color: #F5F2F0; }

table.icons td {
  padding: 0.500em; }

table.icons tr td:first-of-type {
  background-color: #F5F2F0;
  padding-top: 1.500em; }

.icon-example {
  width: 3.000em;
  background-color: #CCC;
  height: 3.000em;
  font-size: 12pt;
  cursor: pointer; }
  .icon-example .chevron {
    position: relative;
    box-sizing: border-box;
    height: 3.000em;
    width: 3.000em;
    -webkit-transform: rotate(0);
    transform: rotate(0);
    transition: all 0.15s linear; }
    .icon-example .chevron.open {
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg); }
    .icon-example .chevron > div {
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      height: 1.500em;
      width: 1.500em;
      transition: all 0.15s linear;
      border-right: .25em solid white;
      border-bottom: .25em solid white;
      position: relative;
      box-sizing: border-box;
      top: 25%;
      left: 12.5%; }
  .icon-example .plus {
    height: 66.6667%;
    padding: 0.500em;
    height: 2.000em;
    width: 2.000em;
    background-color: #CCC;
    -webkit-transform: rotate(0);
    transform: rotate(0);
    transition: all 0.15s linear;
    border-radius: 50%; }
    .icon-example .plus.open {
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
      transition: all 0.15s linear; }
      .icon-example .plus.open div:nth-child(1) {
        border-bottom-width: 0; }
      .icon-example .plus.open div:nth-child(2) {
        border-bottom-width: 0; }
      .icon-example .plus.open div:nth-child(3) {
        border-top-width: 0; }
      .icon-example .plus.open div:nth-child(4) {
        border-top-width: 0; }
    .icon-example .plus div {
      width: 50%;
      height: 50%;
      float: left;
      box-sizing: border-box; }
      .icon-example .plus div:nth-child(1) {
        border-bottom: solid 0.125em white;
        border-right: solid 0.125em white; }
      .icon-example .plus div:nth-child(2) {
        border-bottom: solid 0.125em white;
        border-left: solid 0.125em white; }
      .icon-example .plus div:nth-child(3) {
        border-top: solid 0.125em white;
        border-right: solid 0.125em white; }
      .icon-example .plus div:nth-child(4) {
        border-top: solid 0.125em white;
        border-left: solid 0.125em white; }

.methods-example {
  height: 3em;
  margin: 1.25em 0;
  background-color: red;
  height: 5em; }
  .methods-example > button {
    width: 25%;
    margin: 0;
    float: left;
    border: solid 2px #fff;
    height: 3em;
    outline: none;
    cursor: pointer; }
    .methods-example > button:hover {
      background-color: #f5f2f0; }

#console {
  width: calc(100% - .5em);
  margin: 0.25em;
  height: 12em;
  border: solid 1px #CCC;
  font-family: Consolas 'Courier New' monospace;
  background-color: #383838;
  color: white;
  box-sizing: border-box;
  padding: 0.5em;
  overflow-y: auto; }
  #console #carot {
    font-size: 12pt;
    color: #A6E22E; }
  #console .console-entry {
    display: block;
    padding: 0.25em 1em;
    font-size: 10pt; }
    #console .console-entry .pink {
      color: #F92672; }
    #console .console-entry .green {
      color: #A6E22E; }
    #console .console-entry .blue {
      color: #66D9EF; }
  #console #cursor {
    font-size: 12pt;
    visibility: hidden; }

aside.spine {
  width: 12.000em;
  padding-top: 2.000em; }
  aside.spine a {
    text-decoration: none;
    color: #6777E0; }
    aside.spine a:hover {
      text-decoration: underline; }
  aside.spine ol {
    list-style: none;
    padding-left: 0;
    margin: 0; }
    aside.spine ol li {
      padding-top: 0.125em;
      padding-bottom: 0.125em; }
      aside.spine ol li span {
        display: block;
        padding-left: 2.000em; }
      aside.spine ol li.static {
        color: #000; }
      aside.spine ol li.root div {
        border-bottom: solid 0.063em #E06767; }
      aside.spine ol li.sub {
        padding-left: 2.000em; }
        aside.spine ol li.sub div {
          border-bottom: solid 0.063em #E06767;
          border-left: solid 0.063em #E06767; }
      aside.spine ol li div {
        float: left;
        height: 0.375em;
        width: 1.250em;
        margin-top: 0.375em;
        margin-right: 0.500em; }

pre {
  margin: 0 !important; }

pre, code {
  font-size: 10pt; }

pre[class*="language-shell"] {
  background-color: #383838; }
  pre[class*="language-shell"] code {
    text-shadow: none;
    color: white; }

/* -- ACCORDIAN OVERRIDES -- */
toggle p {
  padding: 0 0.5em;
  font-size: 10pt;
  line-height: 200%; }

section.basic toggle {
  margin-bottom: 4px; }

section.configuration toggle {
  margin-bottom: 2px; }

section.configuration toggle .toggle-header {
  height: 36px;
  background-color: #EAC991; }

section.configuration toggle .toggle-body.border {
  border: solid 1px #CCC; }

section.content-strings toggle {
  margin-bottom: 2px; }

section.content-strings toggle .toggle-header {
  height: 24px;
  background-color: #7a7a7a; }

section.content-strings toggle .toggle-header:hover {
  background-color: #CCC; }

section.content-strings toggle .toggle-header:hover span {
  color: #3E3D32; }

section.content-strings toggle .toggle-body.border {
  border: solid 1px #CCC; }

section.content-strings toggle .toggle-header .icon.chevron div {
  border-color: #3E3D32; }

section.content-strings toggle .toggle-header:hover .icon.chevron div {
  border-color: #FFF; }

section.model-binding toggle {
  margin-bottom: 4px; }

section.model-binding toggle .toggle-header {
  background-color: #EAC991;
  height: 48px; }

section.model-binding toggle .toggle-body.border {
  border: solid 1px #CCC; }

section.model-binding toggle .toggle-header .icon {
  float: right; }

section.disabled toggle .toggle-header {
  background-color: #8D8E9C; }

section.disabled toggle .toggle-body.border {
  border: solid 1px #8D8E9C; }

section.events toggle, section.callbacks toggle {
  margin-bottom: 2px; }

section.events toggle .toggle-header, section.callbacks toggle .toggle-header {
  height: 36px;
  background-color: #7a7a7a; }

section.events toggle .toggle-body.border, section.callbacks toggle .toggle-body.border {
  border: solid 1px #7a7a7a; }

section.events toggle .toggle-header .icon.plus div, section.callbacks toggle .toggle-header .icon.plus div {
  border-color: #414141; }

tabs .header {
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
  top: 0.063em;
  margin-top: -0.063em; }
  tabs .header li {
    float: left;
    cursor: pointer;
    padding: 0.5em 1em; }
    tabs .header li.active {
      background-color: #F5F2F0;
      border-top: solid 0.063em #CCC;
      border-left: solid 0.063em #CCC;
      border-right: solid 0.063em #CCC;
      border-bottom: solid 0.063em transparent; }
    tabs .header li:not(.active):hover {
      background-color: #CCC;
      border-bottom: solid 0.063em #CCC; }

tabs .body {
  clear: both;
  background-color: #F5F2F0;
  border: solid 0.063em #CCC; }
