html, body, div, form, fieldset, legend, label {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

th, td {
  text-align: left;
  vertical-align: top; }

h1, h2, h3, h4, h5, h6, th, td, caption {
  font-weight: normal; }

img {
  border: 0; }

body {
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
  min-width: 58.000em;
  overflow-x: auto; }

header {
  width: 100%;
  border-bottom: solid 0.063em #ccc;
  box-sizing: border-box;
  padding: 0.5em 2em;
  height: 6.000em; }
  header h1 {
    display: inline;
    font-size: 42pt; }
  header a {
    text-decoration: none;
    color: inherit; }
    header a:nth-child(2) {
      font-size: 42pt;
      float: right;
      line-height: 135%;
      color: dodgerblue; }

section.content {
  padding: 2.000em;
  overflow-y: auto;
  overflow: auto;
  position: absolute;
  top: 6.000em;
  left: 12.000em;
  right: 0;
  bottom: 0;
  border-left: solid 0.063em #ccc;
  min-width: 42.000em; }
  section.content h1 {
    margin-top: 0; }
  section.content section.pane {
    width: 50%;
    box-sizing: border-box;
    padding-right: 2.000em; }
    section.content section.pane.left {
      float: left; }
    section.content section.pane.right {
      float: right; }

aside.spine {
  width: 12.000em;
  padding-top: 2.000em; }
  aside.spine a {
    text-decoration: none;
    color: dodgerblue; }
    aside.spine a:hover {
      text-decoration: underline; }
  aside.spine ol {
    list-style: none;
    padding-left: 0;
    margin: 0; }
    aside.spine ol li {
      padding-top: 0.125em;
      padding-bottom: 0.125em; }
      aside.spine ol li span {
        display: block;
        padding-left: 2.000em; }
      aside.spine ol li.root div {
        border-bottom: solid 0.063em #ccc; }
      aside.spine ol li.sub {
        padding-left: 2.000em; }
        aside.spine ol li.sub div {
          border-bottom: solid 0.063em #ccc;
          border-left: solid 0.063em #ccc; }
      aside.spine ol li div {
        float: left;
        height: 0.375em;
        width: 1.250em;
        margin-top: 0.375em;
        margin-right: 0.500em; }

toggle p {
  padding: 1.000em;
  font-size: 10pt;
  line-height: 200%; }

pre {
  margin: 0 !important; }

code[class*="language-"], pre[class*="language-"] {
  /*background-color: #f5f5f5*/ }

tabs .header {
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
  top: 0.063em;
  margin-top: -0.063em; }
  tabs .header li {
    float: left;
    cursor: pointer;
    padding: 0.5em 1em; }
    tabs .header li.active {
      background-color: #f5f2f0;
      border-top: solid 0.063em #ccc;
      border-left: solid 0.063em #ccc;
      border-right: solid 0.063em #ccc;
      border-bottom: solid 0.063em transparent; }
    tabs .header li:not(.active):hover {
      background-color: #ccc;
      border-bottom: solid 0.063em #ccc; }

tabs .body {
  clear: both;
  background-color: #f5f2f0;
  border: solid 0.063em #ccc; }
