<div>
<pre><code prism class="language-markup">&lt;accordion
	timing="200"
	close-others="true"
	toggle-icon="chevron">
	&lt;toggle content-url="'template/accordion/basic/accordion-content.html'">&lt;/toggle>
	&lt;toggle content-url="'template/accordion/basic/accordion-content.html'">&lt;/toggle>
	&lt;toggle class="disabled" content-url="'template/accordion/basic/accordion-content.html'">&lt;/toggle>
	&lt;toggle content-url="'template/accordion/basic/accordion-content.html'">&lt;/toggle>
&lt;/accordion>
</code></pre>
</div>