toggle {
    margin: 0.250em 0 0.250em 0;
}

.toggle-body {
    border: solid 0.063em #CCC;
}

.toggle-header {
    height: 3.000em;
    background-color: #CCC;
}

.chevron {
    transform: rotate(0);
    transition: all .15s linear;
}

.chevron.open  {
    transform: rotate(90deg);
    transition: all .15s linear;
}

.chevron  > div {
    border-right: .25em solid white;
    border-bottom: .25em solid white;
    transform: rotate(-45deg);
}

.plus {
    transform: rotate(0);
    transition: transform .15s linear;
}

.plus.open {
    transform: rotate(90deg);
    transition: transform .15s linear;
}

.plus div:nth-child(1) {
    border-bottom: solid 0.125em white;
    border-right: solid 0.125em white;
}

.plus div:nth-child(2) {
    border-bottom: solid 0.125em white;
    border-left: solid 0.125em white;
}

.plus div:nth-child(3) {
    border-top: solid 0.125em white;
    border-right: solid 0.125em white;
}

.plus div:nth-child(4) {
    border-top: solid 0.125em white;
    border-left: solid 0.125em white;
}

.plus.open div:nth-child(1) {
    transition: border .15s;
    border-bottom-width: 0
}

.plus.open div:nth-child(2) {
    transition: border .15s;
    border-bottom-width: 0
}

.plus.open div:nth-child(3) {
    transition: border .15s;
    border-top-width: 0
}

.plus.open div:nth-child(4) {
    transition: border .15s;
    border-top-width: 0
}