/* -- ACCORDIAN OVERRIDES -- */

toggle p {
	padding: 0 0.500em;
	font-size: 10pt;
	line-height: 200%;
}

section.basic {
	toggle {
		margin-bottom: 4px;
	}
}

section.configuration {
	toggle {
		margin-bottom: 2px;
	}

	toggle .toggle-header {
		height: 36px;
		background-color: $brown-accent;
	}

	toggle .toggle-body.border {
		border: solid 1px $gray;
	}
}

section.content-strings {
	toggle {
		margin-bottom: 2px;
	}

	toggle .toggle-header {
		height: 24px;
		background-color: #7a7a7a;
	}

	toggle .toggle-header:hover {
		background-color: $gray;
	}

	toggle .toggle-header:hover span {
		color: $black;
	}

	toggle .toggle-body.border {
		border: solid 1px $gray;
	}

	toggle .toggle-header .icon.chevron div {
		border-color: $black;
	}

	toggle .toggle-header:hover .icon.chevron div {
		border-color: $white;
	}
}

section.model-binding {
	toggle {
		margin-bottom: 4px;
	}

	toggle .toggle-header {
		background-color: $brown-accent;
		height: 48px;
	}

	toggle .toggle-body.border {
		border: solid 1px $gray;
	}

	toggle .toggle-header .icon {
		float: right;
	}
}

section.disabled {
	toggle .toggle-header {
		background-color: $blue-accent-lighter;
	}

	toggle .toggle-body.border {
		border: solid 1px $gray;
	}
}

section.events, section.callbacks {

	toggle {
		margin-bottom: 2px;
	}

	toggle .toggle-header {
		height: 36px;
		background-color: $gray-darker;
	}

	toggle .toggle-body.border {
		border: solid 1px $gray;
	}

	toggle .toggle-header .icon.chevron div {
		border-color: $white;
	}
}
